body {
  margin: 0;
  font-family: monospace;
  background-color: #1a1a1a;
  color: #f0f0f0;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 0.5rem;
  border: 1px solid #555;
}
input, textarea, button {
  margin: 0.2rem;
  padding: 0.4rem;
  background: #333;
  color: #f0f0f0;
  border: 1px solid #444;
}
